$colorNavyBlue:#000080;
$colorSkyBlue:#87CEEB;
$colorBgBlue:#19649c;
$colorBlack:#000000;
$colorWhite: #ffffff;

$transition: 0.4s ease;
$boxShadowOne: rgba(50, 50, 93, 0.15) 0px 13px 27px -5px, rgba(0, 0, 0, 0.2) 0px 8px 16px -8px;