.about-us {
    .row {
        align-items: center;
        &:not(:last-child){
            h3, h5, p{
            color: $colorWhite!important;
        }
        box-shadow: $boxShadowOne;
        }
        &:nth-child(even) {
            flex-direction: row-reverse;
            margin: 7rem 0;
        }
        .col-lg-4{
            background: var(--bg-clr);
            padding: 5rem 4rem;
        }   
        h5{
            margin-top: 2rem;
            border-top: 1px solid $colorWhite;
            border-bottom: 1px solid $colorWhite;
            padding: 3px;
            border-radius: 0;
        }
    }
}